<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Make New Comment</h1>
    <form action="/addproduct" method="POST">
      <section>
        <label for="productName">Prduct Name: </label>
        <input type="text" placeholder="productName" name="productName" />
      </section>
      <section>
        <label for="category">Product Category: </label>
        <input type="text" placeholder="category" name="category" />
      </section>
      <section>
        <label for="sub_category">Product Sub Category: </label>
        <input type="text" placeholder="Sub Category" name="sub_category" />
      </section>
      <section>
        <label for="image">Image: </label>
        <input type="text" placeholder="image" name="image" />
      </section>
      <section>
        <label for="image1">Image1: </label>
        <input type="text" placeholder="image1" name="image1" />
      </section>
      <section>
        <label for="image2">Image2: </label>
        <input type="text" placeholder="image2" name="image2" />
      </section>
      <section>
        <label for="image3">Image3: </label>
        <input type="text" placeholder="image3" name="image3" />
      </section>
      <section>
        <label for="price">Price: </label>
        <input type="text" placeholder="price" name="price" />
      </section>
      <section>
        <label for="rating">Rating: </label>
        <input type="text" placeholder="rating" name="rating" />
      </section>

      <button>Submit</button>
    </form>
  </body>
</html>
