<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> E Kart</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="signin.ejs">



    <link href="/css/style.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="8920350105-oni03238kii9guavfhvuh8iq2nbp3ci0.apps.googleusercontent.com">
</head>

<body id="Body">

    
    <div class="containerr">
        <div class="Divv">
            <div class="logo">
                <h3 style="font-weight: bold;">E Kart</h3>
                <div class=dropdown>

                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>

            <div class="inbn">
                <input type="search" placeholder="What are you looking for?" class="input" name="" id="input" />

                <button class="button" onclick="change()">search</button>




            </div>
            <button class="cart" onclick="showCart()">
                <span style="background-color: rgb(240, 12, 88);"><h5>Cart</h5></span>
                <span style="background-color: rgb(240, 12, 88);"><h5><i class="fas fa-shopping-cart" style="background-color: rgb(240, 12, 88); height: 5px;" ></i></h5></span>
                 <div class="dropdown_2" style="width: 17vh;display: flex; background-color: rgb(240, 12, 88);">
                   
                    
                 </div>
                 
            </button>
            <div class="sign_in" onclick="signin()">
                <div class="dropdown_2" style="background-color: rgb(240, 12, 88);">
                    

                </div>
                <span class="sign-inn" style="background-color: rgb(240, 12, 88);"><h5 >Sign in</h5></span>

                <span style="background-color: rgb(240, 12, 88);"><h5><i class="fas fa-user-circle" style="background-color: rgb(240, 12, 88); height: 5px;" ></i></h5></span>

            </div>


        </div>

    </div>
    <div class="grid_1" style="width: 100%;">
        <div class="left-grid-1">
            <div style="height: 10vh;display: flex;justify-content: center;align-items: center;">
                <h5 style="background-color: white;">Top category</h5>
            </div>
            <div class="category">
                <div class="category-logo" id="l1"></div>
                <h6 style="background-color: white; margin-left: 8px;"> All offers </h6>
            </div>
            <div class="category">
                <div class="category-logo" id="l2"></div>
                <h6 style="background-color: white; margin-left: 8px;"><a style="text-decoration: none;color: black;" href="#ad-1-caro">Electronics</a>  </h6>
            </div>
            <div class="category">
                <div class="category-logo" id="l3"></div>
                <h6 style="background-color: white; margin-left: 8px;"><a style="text-decoration: none;color: black;" href="#ad-2-caro">Cosmetics</a> </h6>
            </div>
            <div class="category">
                <div class="category-logo" id="l4"></div>
                <h6 style="background-color: white; margin-left: 8px;"><a style="text-decoration: none;color: black;" href="#ad-3-caro">Mobile&Tablets</a> </h6>
            </div>
            <div class="category">
                <div class="category-logo" id="l5"></div>
                <h6 style="background-color: white; margin-left: 8px;"><a style="text-decoration: none;color: black;" href="#ad-4-caro"> Home Kitchen</a> </h6>
            </div>
            <div class="category">
                <div class="category-logo" id="l6"></div>
                <h6 style="background-color: white; margin-left: 8px;"><a style="text-decoration: none;color: black;" href="#ad-5-caro">Clothes</a> </h6>
            </div>

        </div>

        <div class="content" style="background-color:#deedf0; height: 450px; width: 100%;">


            <div style="width: 100%;">
                <!--carousel bootstrap-->
                <div id="carouselExampleIndicators" class="carousel slide inner-content" data-ride="carousel" style="width: 100%;">
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol> -->
                    <div class="carousel-inner">
                        <div class="carousel-item active c-item">
                            <img class="d-block w-100" src="https://rukminim1.flixcart.com/flap/2000/2000/image/f17c212710a1d0d7.jpg?q=50" alt="First slide">
                        </div>
                        <div class="carousel-item c-item">
                            <img class="d-block w-100" src="https://rukminim1.flixcart.com/flap/1080/1440/image/1f0c014aa88e7363.jpg?q=50" alt="Second slide">
                        </div>
                        <div class="carousel-item c-item">
                            <img class="d-block w-100" src="https://rukminim1.flixcart.com/flap/1080/1440/image/64168c9bca44ef62.jpg?q=50" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!--carousel end-->
            </div>


            <div class="content2" style="width: 100%;">
                <div class="inner-content">
                    <div class="products" id="p1"><img src="https://n2.sdlcdn.com/imgs/i/z/i/large/HMTe-HM-9072-Metal-Analog-SDL494827480-1-db8fc.jpg" alt=""></div>
                    <h6>Men watch</h6>
                    <h6>⭐⭐⭐⭐⭐</h6>
                    <h6>Rs. 10999</h6>



                </div>
                <div class="inner-content">
                    <div class="products" id="p2"><img src="https://n2.sdlcdn.com/imgs/d/g/t/large/Vertical9-Heavy-Duty-666-Electric-SDL717689962-1-f9c62.jpg" alt=""></div>
                    <h6>Beard Trimmer </h6>
                    <h6>⭐⭐⭐⭐⭐ </h6>
                    <h6>Rs. 1500 </h6>
                </div>
                <div class="inner-content">
                    <div class="products" id="p3"><img src="https://n1h2.sdlcdn.com/imgs/j/q/i/large/Sherine-Yellow-Georgette-Saree-SDL411665078-1-612f1.webp" alt=""></div>
                    <h6>Yellow Geortee Saree</h6>
                    <h6>⭐⭐⭐⭐⭐</h6>
                    <h6>Rs. 1250</h6>
                </div>
                <div class="inner-content">
                    <div class="products" id="p4"><img src="https://n1h2.sdlcdn.com/imgs/j/k/g/large/FORBRO-NEW-DESIGN-FOOTBALL-TRACKPANT-SDL719062393-1-ffc56.webp" alt=""></div>

                    <h6>TrackPants</h6>
                    <h6>⭐⭐⭐⭐⭐</h6>
                    <h6>Rs. 534</h6>
                </div>

            </div>

        </div>
    </div>
    <!--<div>
        <h2 style="background-color: wheat;">Trending Products</h2>
    </div>-->

    <div style="height: 20px;">
    </div>
    <h3 style="margin: 0px 0px 0px; padding: 0 4px; background-color: #deedf0;">Trending Products</h3>
    <div style="height: 20px;"></div>


    <!--cs2-->

    <div class="containerrr">

        <div id="carousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-none d-lg-block">
                        <div class="slide-box">
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii"><img src="https://n1.sdlcdn.com/imgs/j/i/k/large/Veirdo-100-Percent-Cotton-Multi-SDL069050945-1-051a7.jpeg" alt=""></div>
                                <div class="slbox-info">
                                    <h5>T-shirt</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 900</h6>
                                </div>
                            </div>
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi2"><img src="https://n1.sdlcdn.com/imgs/i/n/r/large/bhawna-collection-Loard-Shiv-Trishul-SDL890408077-1-86933.jpeg" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Rudraksh mala</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 250</h6>
                                </div>
                            </div>
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi3"><img src="https://n3.sdlcdn.com/imgs/i/z/m/large/pRd-PU-Tan-Casual-Long-SDL867879071-1-a7867.jpeg" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Leather Wallet</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 300</h6>
                                </div>
                            </div>
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi4"><img src="https://n1.sdlcdn.com/imgs/i/z/e/large/Bentag-Vegetable-Fruit-Clever-Cutter-SDL841893040-1-ea5e3.jpg" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Cutter</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 450</h6>
                                </div>
                            </div>
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi5"><img src="https://n1.sdlcdn.com/imgs/i/3/9/large/DARK-ROMANCE-Faux-Leather-Beige-SDL899800683-1-500e3.jpeg" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Purse</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 200</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="d-none d-lg-block">
                        <div class="slide-box">
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi6"><img src="https://n1h2.sdlcdn.com/imgs/j/o/q/large/Sherine-Green-Printed-Saree-Fabric-SDL059677053-1-72fc8.webp" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Saree</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 1390</h6>
                                </div>
                            </div>
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi7"><img src="https://n1h2.sdlcdn.com/imgs/g/l/y/large/Dr-Morepen-Blood-Glucose-Monitor-SDL042886907-1-352ec.webp" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Oximeter</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 200</h6>
                                </div>
                            </div>
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi8"><img src="https://n1h2.sdlcdn.com/imgs/j/g/c/large/Sona-N95-Reusable-Anti-Pollution-SDL803096613-1-a4dce.webp" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Masks</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 200</h6>
                                </div>
                            </div>
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi9"><img src="https://n1h2.sdlcdn.com/imgs/j/a/8/large/Shiv-Shakti-Kavach-5-Mala-SDL443330653-1-a0955.webp" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Rudraksh</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 150</h6>
                                </div>
                            </div>
                            <div class="ck" style="cursor: pointer;">
                                <div class="hii" id="hi10"><img src="https://n1h2.sdlcdn.com/imgs/i/6/2/large/youshee-Multi-Casual-Ankle-Length-SDL524484945-1-1e833.webp" alt=""></div>
                                <div class="slbox-info">
                                    <h5>Shocks</h5>
                                    <h6>⭐⭐⭐⭐⭐</h6>
                                    <h6>Rs. 100</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <!--cs2-->


    <!--cs3-->

    
    <!--cs3-->

    <div style="height: 2px;"></div>
    <div class="c2nd">
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-1"><img src="https://n1h2.sdlcdn.com/imgs/j/i/p/large/HOMETALES-Microfibre-Single-Bedsheet-with-SDL304632326-1-c5366.webp" alt=""></div>
            <div class="slbox-info">
                <h5>Saree</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 1390</h6>
            </div>
        </div>
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-2"><img src="https://n4.sdlcdn.com/imgs/j/r/4/large/Liberty-Brown-Slippers-SDL486957908-1-66d14.jpeg" alt=""></div>
            <div class="slbox-info">
                <h5>Oximeter</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 200</h6>
            </div>
        </div>
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-3"><img src="https://n3.sdlcdn.com/imgs/j/f/c/large/SM-2-in-1-Rechargeable-SDL951195659-1-126be.jpg" alt=""></div>
            <div class="slbox-info">
                <h5>Masks</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 200</h6>
            </div>
        </div>
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-4"><img src="https://n1h2.sdlcdn.com/imgs/j/s/v/large/UBON-BASS-FACTORY-BLUETOOTH-5100-SDL777581461-1-1f49b.webp" alt=""></div>
            <div class="slbox-info">
                <h5>Rudraksh</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 150</h6>
            </div>
        </div>
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-5"><img src="https://n1h2.sdlcdn.com/imgs/i/w/n/large/HMTI-Metal-Asymmetrical-Womens-Watch-SDL955082433-1-d8e08.webp" alt=""></div>
            <div class="slbox-info">
                <h5>Shocks</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 100</h6>
            </div>
        </div>
    </div>

    <div style="height: 4px;"></div>

<!--ssssssssssssssssssss-->
    <div class="ama-lay">
        <div class="ama-main3">
            <div>
                <h4 style="font-weight: bold; padding: 0 0;">Experience hands-free entertainment</h4>
            </div>
            <div class="ama-in-lay">
                <div id="am-0" class="ama-short-4"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/AmazonDevices/2019/Herotator/MSO-MAY/01_Dashboard-QC-Card_2x._SY232_CB432125908_.jpg" alt=""></div>

                <div id="am-01" class="ama-short-4">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/HeroNov/MSO_Nov/Dashboard-QC-Card_306x250-sheldon2X._SY232_CB416939941_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Echo Dot | Listen to your favourite music & more</h4>

                <h4 style="font-size:smaller;">Fire TV Stick (2020) with Alexa Voice Remote</h4>
            </div>

            <div style="height: 10px; background-color: white;"></div>

            <div class="ama-in-lay">
                <div id="am-02" class="ama-short-4">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/HeroNov/MSO_Nov/Dashboard-QC-Card_306x250-pepa2X._SY232_CB416939941_.jpg" alt="">
                </div>

                <div id="am-03" class="ama-short-4">
                  <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/HeroDec-20/MSO-Dec/B084DWH53T_306x250._SY232_CB413798916_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Echo smart display | Hands-free video calling</h4>

                <h4 style="font-size:smaller;">All-new Echo | Powered by Dolby</h4>
            </div>
        </div>


        <div class="ama-main3">
            <div>
                <h4 style="font-weight: bold; padding: 0 0;">Handpicked fitness essentials</h4>
            </div>
            <div style="background-color: white;height: 15px;"></div>
            <div class="ama-in-lay">
                <div id="am-1" class="ama-short-4"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Sports/PC_QC_T_H._SY232_CB406080027_.jpg" alt=""></div>

                <div id="am-2" class="ama-short-4">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Sports/PC_QC_EB_H._SY232_CB406080024_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Treadmills</h4>

                <h4 style="font-size:smaller;">Excercise bike</h4>
            </div>

            <div style="height: 10px; background-color: white;"></div>

            <div class="ama-in-lay">
                <div id="am-3" class="ama-short-4">
                   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Sports/PC_QC_DB_H._SY232_CB406090888_.jpg" alt="">
                </div>

                <div id="am-4" class="ama-short-4">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Sports/QC/All/PC_QC_EG_H1._SY232_CB406092933_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Dumbbells|Starting ₹299</h4>

                <h4 style="font-size:smaller;">Excercise gloves</h4>
            </div>
        </div>


        <div class="ama-main3">
            <div>
                <h4 style="font-weight: bold; padding: 0 0;">Cookware & dining</h4>
            </div>
            <div style="background-color: white;height: 15px;"></div>
            <div class="ama-in-lay">
                <div id="am-5" class="ama-short-4"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/IN-hq/2019/img/Kitchen/XCM_Manual_372x232_1198417XCM_Manual_1198417__1_1573567224_jpg_LOWER_QL85_._SY232_CB448746450_.jpg" alt=""></div>

                <div id="am-6" class="ama-short-4">
                   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IN-hq/2019/img/Kitchen/XCM_Manual_372x232_1198417XCM_Manual_1198417__2_1573567224_jpg_LOWER_QL85_._SY232_CB448746407_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Gas stoves</h4>

                <h4 style="font-size:smaller;">Cook wares</h4>
            </div>

            <div style="height: 10px; background-color: white;"></div>

            <div class="ama-in-lay">
                <div id="am-7" class="ama-short-4">
                   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IN-hq/2019/img/Kitchen/XCM_Manual_372x232_1198417XCM_Manual_3_copy_1573713358_jpg_LOWER_QL85_._SY232_CB448746425_.jpg" alt="">
                </div>

                <div id="am-8" class="ama-short-4">
                   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IN-hq/2019/img/Kitchen/XCM_Manual_372x232_1198417XCM_Manual_1198417__4_1573567224_jpg_LOWER_QL85_._SY232_CB448746407_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Kitchen storage</h4>

                <h4 style="font-size:smaller;">Tableware</h4>
            </div>
        </div>
    </div>
<!--hhhhhhhhhhhhhhhhhhhhhhhhhh-->
    <div style="height: 4px;"></div>

    <div class="c2nd">
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-6"><img src="https://rukminim1.flixcart.com/image/300/300/jku1ksw0/cargo/t/z/p/42-code-1-plus91-original-imaf83hx5tzvddwh.jpeg?q=70" alt=""></div>
            <div class="slbox-info">
                <h5>Saree</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 1390</h6>
            </div>
        </div>
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-7"><img src="https://n1h2.sdlcdn.com/imgs/j/m/6/large/Arizona-Sunglasses-Wayfarer-Polycarbonate-Purple-SDL674516153-1-36e07.webp" alt=""></div>
            <div class="slbox-info">
                <h5>Oximeter</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 200</h6>
            </div>
        </div>
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-8"><img src="https://n1.sdlcdn.com/imgs/j/s/v/230X258_sharpened/Armado-1513-BROWN-Rubber-Analog-SDL620283859-1-eeeee.webp" alt=""></div>
            <div class="slbox-info">
                <h5>Masks</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 200</h6>
            </div>
        </div>
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-9"><img src="https://rukminim1.flixcart.com/image/312/312/jl5h3m80/book/0/7/7/introduction-to-algorithms-original-imaf8cfwr7edgndb.jpeg?q=70" alt=""></div>
            <div class="slbox-info">
                <h5>Rudraksh</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 150</h6>
            </div>
        </div>
        <div class="ck" style="cursor: pointer;">
            <div class="hii" id="c2-10"><img src="https://rukminim1.flixcart.com/flap/300/300/image/fee02f6f97d3b66b.jpg?q=70" alt=""></div>
            <div class="slbox-info">
                <h5>Shocks</h5>
                <h6>⭐⭐⭐⭐⭐</h6>
                <h6>Rs. 100</h6>
            </div>
        </div>
    </div>
    <!--22222222222222222222222222222222222222222222222-->
    
    <!--22222222222222222222222222222222222222222222222222222222222-->
    <div id="ad-1-caro" style="height:50px; border: 1px solid #eef1f1;display: flex;align-items: center;">
        <h4 style="  background-color: #deedf0; padding-left:13px; font-weight: bold;">Top Deals On Electronics</h4>
    </div>
    <!--3333333333333333333-->

    <div class="add-1-carosul">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000" style="padding: 0;">
                <div class="MultiCarousel-inner">
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;height: 200px">
                            <div class="pad155" >
                                <img src="https://rukminim1.flixcart.com/image/300/300/ja73ki80/webcam/pc-webcam/7/q/e/logitech-c310-original-imaeztzqny7jh7gh.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/400/400/k9d3p8w0/headphone/j/v/f/rockerz-255f-rockerz-255-boat-original-imafr68zshenv3ya.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/400/400/k5lcvbk0pkrrdj/headphone/dynamic/z/j/h/jbl-c150siublk-original-imafeyby52kxehz2.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/300/300/k2f1n680/headphone/9/g/s/boat-rockerz-400-super-extra-bass-original-imafg95ztgz7z8yz.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                       
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/300/300/jm9hfgw0/data-cable/hdmi-cable/f/z/y/terabyte-hdmi-to-vga-original-imaf97x2jw9kwkgy.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                        
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/300/300/k5lcvbk0pkrrdj/headphone/dynamic/z/j/h/jbl-c150siublk-original-imafeyby52kxehz2.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                       
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/400/400/k4bms280/dth-new/c/m/h/set-top-connection-high-definition-tata-sky-original-imafn5sy8gfbqmvg.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0  ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/300/300/k52s58w0/headphone/q/v/b/zebronics-zeb-symphony-original-imafnuefzfhgz65x.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                       
                    </div>
                   
                    
                    
                   
                   
                </div>
                <button class="btn btn-primary leftLst kmal"><</button>
                <button class="btn btn-primary rightLst kmal">></button>
            </div>
        </div>
       
    </div>
    <!--3333333333333333333333333-->
      
    <div id="ad-2-caro" style="height:50px; border: 1px solid #eef1f1;display: flex;align-items: center;">
        <h4 style="  background-color: #deedf0; padding-left:13px; font-weight: bold;">Cosmetics Brands</h4>
    </div>


    <div class="add-1-carosul" >
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://m.media-amazon.com/images/I/61um+vJjadL._AC_SX360_SY240_QL70_.jpg" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/kh3qkcw0/combo-kit/g/f/e/cosmetic-blue-haven-mascara-6-5ml-eyeliner-water-proof-7-ml-original-imafx79uaghrp7hg.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/kj4m0sw0-0/combo-kit/y/c/b/foundation-makeup-cosmetic-brush-natural-white-colour-waterproof-original-imafyrr6cpzxhsf2.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/kmns7m80/lipstick/u/v/2/6-check-matte-rise-of-red-renee-original-imagfgkagm8j4jpm.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/kovsvbk0/lipstick/w/w/t/smudge-me-not-lip-duo-04-plum-yum-muted-plum-sugar-cosmetics-original-imag38dskhzzumva.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/k6pd7680/combo-kit/d/q/g/big-eyeshadow-pallete-with-highlighter-blusher-shades-35-colors-original-imafp3fhnsyvuax6.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0  ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/kb89ea80/combo-kit/j/k/p/eyeshadow-palette-beauty-glazed-63-colors-pearlescent-matte-original-imafsmghpfn4ybhc.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                   
                    
                    
                   
                   
                </div>
                <button class="btn btn-primary leftLst kmal"><</button>
                <button class="btn btn-primary rightLst kmal">></button>
            </div>
        </div>
       
    </div>

    <!--hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->
    <div style="height: 25px;"></div>

    <div id="ad-3-caro" style="height:50px; border: 1px solid #eef1f1;display: flex;align-items: center;">
        <h4 style="  background-color: #deedf0; padding-left:13px; font-weight: bold;">Mobile & Tablets</h4>
    </div>

    <div class="add-1-carosul" id="mobilee">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155" >
                               <img src="https://rukminim1.flixcart.com/image/400/400/jxnksy80/tablet/u/h/h/samsung-sm-t290nzkains-original-imafg2ghyj9zhgnv.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                               <img src="https://rukminim1.flixcart.com/image/312/312/mobile/h/b/j/one-plus-one-na-original-imae8hh39tszhbbx.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                               <img src="https://rukminim1.flixcart.com/image/612/612/kklhbbk0/mobile/m/s/f/m3-mzb0879in-poco-original-imafzxf686qtxq2x.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/400/400/jd0jtzk0/cases-covers/back-cover/z/b/f/befunky-isimple-matte-finish-flexible-soft-tpu-skin-support-original-imafyfmje9mvkfea.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                               <img src="https://rukminim1.flixcart.com/image/612/612/kn22m4w0/mobile/9/k/s/galaxy-f12-sm-f127glbiins-samsung-original-imagftmhhhvghq7w.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                               <img src="https://rukminim1.flixcart.com/image/612/612/kfzq8i80/mobile/y/j/f/samsung-galaxy-f41-sm-f415fzbdins-original-imafwbnpdafmeuj6.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/k251k7k0/cases-covers/flip-cover/8/a/k/tgk-tgk-9726-original-imafhjus8nmpvgtz.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0  ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/knrsjgw0/mobile/u/f/w/8-5g-rmx3241-realme-original-imag2d8ett6ukhcs.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                        
                    </div>
                   
                    
                    
                   
                   
                </div>
                <button class="btn btn-primary leftLst kmal"><</button>
                <button class="btn btn-primary rightLst kmal">></button>
            </div>
        </div>
       
    </div>
    <!--hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->
    <div style="height: 25px;"></div>

    <div id="ad-4-caro" style="height:50px; border: 1px solid #eef1f1;display: flex;align-items: center;">
        <h4 style="  background-color: #deedf0; padding-left:13px; font-weight: bold;">Home makeover</h4>
    </div>

    <div class="add-1-carosul" >
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155" >
                                <img src="https://m.media-amazon.com/images/I/71dVpyFrWYS._AC_UL480_FMwebp_QL65_.jpg" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://m.media-amazon.com/images/I/61gVxPJTOrL._AC_UL480_FMwebp_QL65_.jpg" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://m.media-amazon.com/images/I/5192w7Na0pS._AC_UL480_FMwebp_QL65_.jpg" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/k0flmkw0/lunch-box/x/j/y/executive-milton-3-original-imafk8faa9hkxuzr.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://m.media-amazon.com/images/I/61X7aw9ZCDL._AC_UL480_FMwebp_QL65_.jpg" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/jzk5xu80/ice-cream-maker/t/g/b/ice01-whiteibis-original-imafjgnydtk6bd9u.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/kksmikw0/otg-new/r/l/l/12624-pigeon-original-imagy2cbxwmdrups.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0  ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/612/612/jubjte80/rack-shelf/k/3/g/aa167-huzain-handicrafts-original-imafa2rpsawvuggw.jpeg?q=70" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                   
                    
                    
                   
                   
                </div>
                <button class="btn btn-primary leftLst kmal"><</button>
                <button class="btn btn-primary rightLst kmal">></button>
            </div>
        </div>
       
    </div>

    <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->
    <div style="height: 25px;"></div>

    <div id="ad-5-caro" style="height:50px; border: 1px solid #eef1f1;display: flex;align-items: center;">
        <h4 style="  background-color: #deedf0; padding-left:13px; font-weight: bold;">Wears</h4>
    </div>

    <div class="add-1-carosul" id="wearss">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155" >
                                <img src="https://rukminim1.flixcart.com/image/389/467/keuagsw0/ethnic-set/z/n/c/m-kk074-p-kipek-original-imafvf8hsxfrmsyj.jpeg?q=50" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/389/467/kj1r53k0/jacket/y/r/s/m-dtaw20jk040a-ducati-original-imafype2527uy69d.jpeg?q=50" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/389/467/kl6wx3k0/t-shirt/y/n/i/s-bbt-try-this-original-imagydarhsryeahn.jpeg?q=50" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;" >
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/389/467/kffq2kw0/jacket/7/r/g/11-12-years-aw20i-jkdenim-b-pln-blgr-instafab-original-imafvw9wez6kyvfk.jpeg?q=50" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc">
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/389/467/klgx0280/track-pant/o/w/g/xl-iltrp1atsr06666312-van-heusen-original-imagyhe2vva4gbp2.jpeg?q=50" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/389/467/ko1smfk0/sari/t/g/f/free-silver-butta-mr-creation-unstitched-original-imag2hj8qpbqeqpa.jpeg?q=50" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0 ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/389/467/jievpu80/shirt/p/q/z/xl-shirt-196-deeksha-original-imaf67nthqazxugu.jpeg?q=50" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="itemc" >
                        <div class="pad15" style="padding: 0  ; margin: 0;">
                            <div class="pad155">
                                <img src="https://rukminim1.flixcart.com/image/389/467/klicfww0/kids-dungaree-romper/0/2/o/6-12-months-catbluegana-6-12m-icable-original-imagymfh5grbzsfd.jpeg?q=50" alt="">
                            </div>
                            <div class="itemc-h5">
                                <h5>logitech</h5>
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </div>
                   
                    
                    
                   
                   
                </div>
                <button class="btn btn-primary leftLst kmal"><</button>
                <button class="btn btn-primary rightLst kmal">></button>
            </div>
        </div>
       
    </div>



     <div style="height: 25px;"></div>

     <!--ssss-->

     <div class="ama-lay">
        <div class="ama-main3">
            <div>
                <h4 style="font-weight: bold; padding: 0 0;">Styles for Men | Up to 70% offt</h4>
            </div>
            <div class="ama-in-lay">
                <div id="am-0" class="ama-short-4"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Gateway/Mens_fashion/01._SY232_CB656503011_.jpg" alt=""></div>

                <div id="am-01" class="ama-short-4">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Gateway/Mens_fashion/02._SY232_CB656503011_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Echo Dot | Listen to your favourite music & more</h4>

                <h4 style="font-size:smaller;">Fire TV Stick (2020) with Alexa Voice Remote</h4>
            </div>

            <div style="height: 10px; background-color: white;"></div>

            <div class="ama-in-lay">
                <div id="am-02" class="ama-short-4">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Gateway/Mens_fashion/03._SY232_CB656503011_.jpg" alt="">
                </div>

                <div id="am-03" class="ama-short-4">
                  <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Gateway/Mens_fashion/04._SY232_CB656503011_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Echo smart display | Hands-free video calling</h4>

                <h4 style="font-size:smaller;">All-new Echo | Powered by Dolby</h4>
            </div>
        </div>


        <div class="ama-main3">
            <div>
                <h4 style="font-weight: bold; padding: 0 0;">Styles for Women | Up to 70% off</h4>
            </div>
            <div style="background-color: white;height: 15px;"></div>
            <div class="ama-in-lay">
                <div id="am-1" class="ama-short-4"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Gateway/Womens_Fashion/Layer_668._SY232_CB656506084_.jpg" alt=""></div>

                <div id="am-2" class="ama-short-4">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Gateway/Womens_Fashion/Layer_669._SY232_CB656506084_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Treadmills</h4>

                <h4 style="font-size:smaller;">Excercise bike</h4>
            </div>

            <div style="height: 10px; background-color: white;"></div>

            <div class="ama-in-lay">
                <div id="am-3" class="ama-short-4">
                   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Gateway/Womens_Fashion/Layer_670._SY232_CB656506084_.jpg" alt="">
                </div>

                <div id="am-4" class="ama-short-4">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Gateway/Womens_Fashion/Layer_671._SY232_CB656506084_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Dumbbells|Starting ₹299</h4>

                <h4 style="font-size:smaller;">Excercise gloves</h4>
            </div>
        </div>


        <div class="ama-main3">
            <div>
                <h4 style="font-weight: bold; padding: 0 0;">Shop by Category</h4>
            </div>
            <div style="background-color: white;height: 15px;"></div>
            <div class="ama-in-lay">
                <div id="am-5" class="ama-short-4"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/2020/PC/Fresh._SY232_CB431401553_.jpg" alt=""></div>

                <div id="am-6" class="ama-short-4">
                   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/2020/PC/Mobile._SY232_CB431401553_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Gas stoves</h4>

                <h4 style="font-size:smaller;">Cook wares</h4>
            </div>

            <div style="height: 10px; background-color: white;"></div>

            <div class="ama-in-lay">
                <div id="am-7" class="ama-short-4">
                   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/2020/PC/Fashion._SY232_CB431401553_.jpg" alt="">
                </div>

                <div id="am-8" class="ama-short-4">
                   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/2020/PC/Electronic._SY232_CB431401553_.jpg" alt="">
                </div>
            </div>
            <div class="ama-in-lay">
                <h4 style="font-size:smaller;">Kitchen storage</h4>

                <h4 style="font-size:smaller;">Tableware</h4>
            </div>
        </div>
    </div>

     <!--sss-->

     <div style="height: 7px;"></div>


    <div style="background-color: #002E6E; height: 400px; width: 100%;">
       <div class="about">
        <div class="lastt" >
          <h5>About</h5>
          <h5 style="padding-top:2px ;"></h5>
          
          <h6>Contact us</h6>
          <h6>About us</h6>
          <h6>Careers</h6>
          <h6>Press</h6>
          <h6>E Kart stories</h6>
        </div>
        
        <div class="lastt" >
            <h5>Help</h5>
          <h5 style="padding-top:2px ;"></h5>
          
          <h6>Payment</h6>
          <h6>Return Center</h6>
          <h6>FAQ</h6>
          <h6>Help</h6>
          
          
         
        </div>
        <div class="lastt" >
            <h5>Policy</h5>
          <h5 style="padding-top:2px ;"></h5>
          
          <h6>Return Policy</h6>
          <h6>Term of use</h6>
          <h6>Security</h6>
          <h6>Sitemap</h6>
         
        </div>

        <div class="lastt" >
            <h5>Social</h5>
          <h5 style="padding-top:2px ;"></h5>
        
          <h6>Facebook</h6>
          <h6>Twitter</h6>
          <h6>Youtube</h6>
          
        </div>

       </div>
       <div style="display: flex;justify-content: center;align-items: center;width: 100%;background-color: #002E6E;height: 60px;">
            <h1 style="font-weight: bold;background-color: #002E6E; color:khaki">E Kart</h1>
       </div>
    </div>
  
    <script src="/js/style.js">
    </script>
</body>

</html>