<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/pagestyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div>

        </div>
        <div class="grid">
            <div class="grid-left">
                <div class="lg-image">
                    <img id="photu" src="https://rukminim1.flixcart.com/image/832/832/km57hjk0/hammock-swing/r/q/o/made-in-india-premium-square-shape-hammock-hanging-cotton-chair-original-imagf3s23ehyacfs.jpeg?q=70" alt="">
                </div>
                <div class="inner-lg-image">
                    <div class="for-3">
                        <img id="photu1" src="https://rukminim1.flixcart.com/image/832/832/km57hjk0/hammock-swing/a/o/y/made-in-india-premium-square-shape-hammock-hanging-cotton-chair-original-imagf3s2vwnguhgj.jpeg?q=70" alt="">
                    </div>
                    <div class="for-3">
                        <img id="photu2" src="https://rukminim1.flixcart.com/image/832/832/kg6vfrk0/hammock-swing/r/a/4/premium-square-shaped-swing-with-cushion-patiofy-original-imafwhjgfhqe3nqc.jpeg?q=70" alt="">
                    </div>
                    <div class="for-3">
                        <img id="photu3" src="https://rukminim1.flixcart.com/image/832/832/km57hjk0/hammock-swing/r/q/o/made-in-india-premium-square-shape-hammock-hanging-cotton-chair-original-imagf3s23ehyacfs.jpeg?q=70" alt="">
                    </div>
                </div>
            </div>
            <div class="grid-right">
                <div class="tiTle" >
                    <h3 id="xuxu">
                        Furniture kart Swing Chair Jhula Steel Large Swing (Black, Red, Pack of 4, DIY(Do-It-Yourself))
                    </h3>
                </div>

                <div  class="ratings">
                    <h4 id="bhusu">⭐⭐⭐⭐⭐</h4>
                </div>


                <div class="prices">
                    <h2 id="pusu">₹14,999</h2>

                </div>
                <div class="qty">
                    <h4>QTY</h4>
                    <div>

                    </div>
                </div>
                <div class="color">
                    <h4>COLOR</h4>
                    <div>

                    </div>
                    <div>

                    </div>
                    <div>

                    </div>
                </div>
                <div class="add-to-cart">
                    <button class="button1"><i class="fas fa-shopping-cart"></i>  ADD TO CART</button>
                    <button class="button2"><i class="fas fa-bolt"></i>  PROCCED TO BUY</button>
                </div>
                <div class="reli">
                    <h3>shop secure , Free returns</h3>
                </div>
                <div class="add">
                    <button>ADD TO WISHLIST</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("xuxu").innerHTML=localStorage.getItem("pmk");
        document.getElementById("bhusu").innerHTML=localStorage.getItem("mkp");
        document.getElementById("pusu").innerHTML=localStorage.getItem("kmp");
        document.getElementById("photu").src=localStorage.getItem("kkk");
        document.getElementById("photu1").src=localStorage.getItem("1n");
        document.getElementById("photu2").src=localStorage.getItem("2n");
        document.getElementById("photu3").src=localStorage.getItem("3n");
    </script>
 <!-- <script src="/js/style.js"></script> -->
</body>

</html>